<p style="color: green"><%= notice %></p>

<%= render @wine %>

<div>
  <%= link_to "Edit this wine", edit_wine_path(@wine) %> |
  <%= link_to "Back to wines", wines_path %>

  <%= button_to "Destroy this wine", @wine, method: :delete %>
</div>
